.com-style {
    /* background-color: red; */
    height: 100%;
    background-size: 100% auto;
    /* Hace que la imagen cubra todo el elemento */
    background-repeat: no-repeat;

    background-image: url("~src/assets/img/header.png");
    background-color: rgb(247 137 0 / 3%);
}

ion-card {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
}

ion-button {
    /* --border-radius: 25px !important; */
    text-transform: capitalize;
    --background: #f78900;
}