<div class="com-style">
  <div style="height: 100%;">
    <div style="width: 100%; height: 100%;">
      <ion-card class="" style="display: flex; justify-content: space-evenly; height: 100%; flex-direction: column;">
        <ion-card-header>
          <ion-card-title style="text-align: center; color: white;">Bienvenido</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form [formGroup]="formLogin">
            <ion-item>
              <ion-icon name="mail-outline" style="margin-right: 10px; color: #e89315;"></ion-icon>
              <ion-input focus-ring="true" formControlName="correo" type="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="lock-closed-outline" style="margin-right: 10px; color: #e89315;"></ion-icon>
              <ion-input focus-ring="true" formControlName="contrasena" type="password"></ion-input>
            </ion-item>
          </form>
          <br>
          <div style="text-align: center;">
            <ion-button (click)="login()" shape="round" >Login</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</div>

<!-- <app-welcome></app-welcome> -->