.com-style {
    /* background-color: red; */
    height: 100%;
    background-size: 100% auto;
    /* Hace que la imagen cubra todo el elemento */
    background-color: rgb(247 137 0 / 3%);
}

ion-card {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
}

ion-item {
    --ion-item-background: transparent;
    box-shadow: none !important;
}

ion-button {
    /* --border-radius: 25px !important; */
    text-transform: capitalize;
    --background: #e89315;
}