<div class="com-style">
  <div style="margin-top: 15px; margin-left: 15px;">
    <ion-icon name="chevron-back-outline" style="font-size: 20px; color: #e89315;" routerLink="/tabs/welcome"
      type="button"></ion-icon>
  </div>
  <div style="height: 100%;">
    <div style="width: 100%; height: 100%;">
      <ion-card class="" style="display: flex; height: 100%; flex-direction: column;">
        <ion-card-header
          style="display: flex; flex-direction: column; gap: 15px; height: 25%; justify-content: center;">
          <ion-img src="assets\logos\5. LOGO MANCHA.png" style="height: 50px"></ion-img>
          <ion-card-title style="text-align: center">Crear cuenta</ion-card-title>
          <div style="text-align: center; padding-left: 10px; padding-right: 10px;"><span>Crea tu cuenta para poder dar
              seguimiento a tu panal</span></div>
        </ion-card-header>
        <ion-card-content>
          <form [formGroup]="formLogin">
            <ion-item>
              <ion-icon name="person-outline" style="margin-right: 10px; color: #e89315;"></ion-icon>
              <ion-input focus-ring="true" formControlName="usuario" type="text"
                placeholder="Roberto Sanchez"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="mail-outline" style="margin-right: 10px; color: #e89315;"></ion-icon>
              <ion-input focus-ring="true" formControlName="correo" type="email" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="lock-closed-outline" style="margin-right: 10px; color: #e89315;"></ion-icon>
              <ion-input focus-ring="true" formControlName="contrasena" type="password"
                placeholder="Contraseña"></ion-input>
            </ion-item>
          </form>
          <br>
          <div style="text-align: center; margin-top: 50px;">
            <ion-button (click)="createAccount()" shape="round">Crear cuenta</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</div>

<!-- <app-welcome></app-welcome> -->